body{
background-color: beige;
text-align: center;
}

#InfoPerso{
    color: red;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
}

footer{
    text-align: left;
     ;
}

#rectangle-arrondi {
    margin: 10px 60px;
    background-color: white; 
    border-radius: 20px; 
    border: groove 10px #0a0706;
  }
  
#Explication{
    font-style: italic;
    font-size: medium;
    text-align: left;
}

#Texte{
    font-style: normal;
    color: gray;
    text-align: left;
}

#Logo{
    display: inline-block;
    text-align: left;
}

#center{
    text-align: center;
}