@import url('https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&display=swap');

*{
      margin: 0; 
      box-sizing: border-box;
      padding: 0;
    }

    body {
        background: url("image/chris-benson-quz6rf_gwcg-unsplash.jpeg");
        background-size: cover;
        background-attachment: fixed;
    }
      
    .navbar {
        display: flex;
        position: sticky; 
        align-items: center;
        justify-content: center;
        top: 0px;
        cursor: pointer;
    }
     
    .nav-list {
        display: flex;
        justify-content: center;
        list-style: none;
        font-family: 'Pacifico';
        width: 50%;
    }
      
    .nav-list li {
        list-style: none;
        padding: 3% 4%;
    }
      
    .nav-list li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
      
    .nav-list li a:hover {
        color: black;
    }
      
    .rightNav {
        width: 50%;
        text-align: right;
    }
      
    .background {
        background: rgba(225, 225, 225, 0.299)
    }

    .attribut .name {
        display: flex;
        flex-direction: column;
        font-size: 2em;
        font-weight: 200;
        margin-right: 10px;

    }

    .attribut .name span {
        margin: 15px 450px;
        color: aliceblue;
        padding: 10px 5px;
        text-align: center;
        border-radius: 50px;
        border: 5px solid #ebecf0;
        cursor: pointer;
    }

    .attribut .name span:hover {
        box-shadow: inset 9.91px 9.91px 15px #d9dade,-9.91px -9.91px 15px #ffffff,
            inset 9.91px 9.91px 15px #d9dade, inset -9.91px -9.91px 15px #ffffff;
    }

    .bar .progress::before {
        content: "-";
        position: absolute;
        left: 50;
        top: 250px;
        color: white;
    }
    .bar .progress::after {
        content: "+";
        position: absolute;
        right: 320px;
        top: 250px;
        color: white;
    }

    .bar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar {
        width: 60%;
        height: 30px;
        border-radius: 20px;
        margin: auto;
        box-shadow: inset 6px 6px 8px #d9dade, 6px 6px 8px #ffffff;
        align-items: center;
       
    } 

    .bar .progress {
        height: 100%;
        width: 40%;
        background-color: orange;
        border-radius: 20px;
    } 
    

    .bar:nth-child(1) .progress {
        width: 80%;
    } 

    .bar:nth-child(2) .progress {
        width: 60%;
    } 

    .bar:nth-child(3) .progress {
        width: 60%;
    } 

    .bar:nth-child(4) .progress {
        width: 20%;
    } 

    .bar:nth-child(5) .progress {
        width: 100%;
    } 

    .bar:nth-child(6) .progress {
        width: 100%;
    } 

    .bar:nth-child(7) .progress {
        width: 100%;
    } 

    .bar:nth-child(8) .progress {
        width: 20%;
    } 

    .bar:nth-child(9) .progress {
        width: 40%;
    } 


    #logo{
        font-size: xx-large;
        padding: 2%;
        text-align: center;
        font-family: 'Pacifico';
    }

    #Ligne{
        padding: 10% 0;
    }

    #text{
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            font-family: 'Lora';
         }

    #colonne{
        display:flex;
        padding: 3%;
        font-family: 'Lora';
        gap: 60px;
    }

    #rectangle-arrondi{
        margin: 1% 10%;
        background-color: rgba(255, 255, 255, 0.289); 
        border-radius: 20px; 
        border: ridge #494949;
        padding: 1%;
    }
    

    .center-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    .twitter-timeline {
        margin: 40% 30%;
        padding-bottom: 9%;
        padding-top: 9%;
    }

      @media screen and (max-width:600px) {
        main {
            width: 100%;
        }
    }

    #Menu{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        font-family: 'Lora';
    }

