@import url('https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&display=swap');

*{
      margin: 0; 
      box-sizing: border-box;
      padding: 0;
    }

    body {
        background: url("image/Marbre.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
      
    .navbar {
        display: flex;
        position: sticky; 
        align-items: center;
        justify-content: center;
        top: 0px;
        cursor: pointer;
    }
      
    .nav-list {
        width: 50%;
        display: flex;
        font-family: 'Pacifico';
    }
      
    .nav-list li {
        list-style: none;
        padding: 3% 4%;
    }
      
    .nav-list li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
      
    .nav-list li a:hover {
        color: black;
    }
      
    .rightNav {
        width: 50%;
        text-align: right;
    }
      
    #search {
        padding: 1%;
        border: 2% solid rgb(10, 10, 10);
        border-radius: 25px;
    }
      
    .background {
        background: rgb(225, 225, 225)
    }

    #logo{
        font-size: xx-large;
        padding: 2%;
        text-align: center;
        font-family: 'Pacifico';
    }

    #lampions img{
   float:left;
   width: 200px;
   height: 145px;
   border: 5px double #494949;
    }

    #Ligne{
        padding: 10% 0;
    }

    #Back{
        background-image: url("image/Marbre.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #lampions{
        flex-direction: row;
        justify-content: space-around;
        display:flex;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #text{
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            font-family: 'Lora';
         }

    #colonne{
        display:flex;
        padding: 3%;
        font-family: 'Lora';
        gap: 60px;
    }

    /* en attente de debug */
    /* footer{
    background-color: grey;
    width: 100%;
    border: 25px solid rgb(225, 225, 225);
    display: block;
    } */

    #rectangle-arrondi{
        margin: 1% 1%;
        background-color: white; 
        border-radius: 20px; 
        border: ridge #494949;
        padding: 1%;
    }

      @media screen and (max-width:600px) {
        main {
            width: 100%;
        }
    }

    #Menu{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        font-family: 'Lora';
    }
      